<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8">
		<link rel="stylesheet" href="*" type="text/css" />
		<title>Burger Eat Time!</title>

		<link rel="stylesheet" href="/css/styles.css" media="screen" title="no title">
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Modak" rel="stylesheet">

	</head>
	<body>
		{{{ body }}}
	</body>
	<a style="color:grey" href='http://www.freepik.com/free-vector/hand-drawn-hamburger-wallpaper_881501.htm'>Designed by Freepik</a>
</html>